.inner
  .content
    %h1
      Edit
    .row
      .col-12
        .form_wrapper
          = form_for @user do |f|
            = render 'form', {f: f}
            -if @user.responder?
              = render 'responder_profile_edit', {f: f}
            .actions
              .form-control.text-field
                = f.submit "Submit", class: "btn btn-dark-aqua btn-width"

