.bike-background
  .inner
    .session-wrapper
      %h2
        Sign Up
      = form_for @user, html: {id: "new-user-form"} do |form| 
        = render partial: '/users/form', object: form
        .submit-field
          = form.submit "Sign Up", class: "btn btn-dark-aqua"
        .other-links
          %p
            already have an account?
          .other-buttons
            = link_to "Sign In", sign_in_path, class: "btn btn-green"

