.inner
  .row
    .col-12
      %h1
        Profile
  .row
    .col-12
      .map-wrapper
        #map-canvas

:javascript
  
  function initializeMap() {
    var events = #{@events.to_json}
    
    var latLng = new google.maps.LatLng(41.930638, -87.713697);
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(41.930619, -87.713654),
      zoom: 12
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: 'title'
    });
  }

  $(window).load(function(){
    initializeMap();
  });

