.inner
  .row
    .col-12
      %h1
        Profile
  .row
    .col-12
      .map-wrapper
      #map-canvas

:javascript
  

  $(document).ready(function(){
    ReactDOM.render(
      MapFactory({
        events: #{@events.to_json}
      }),
      $(".map-wrapper")[0]
    )
  });
