%head

  %meta{ charset: 'utf-u' }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" } 
  %title= "Bike One One"


  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'

  = csrf_meta_tags

