.main-title-wrapper{
  text-align: center;
  h1{
    font-size: 140px;
    margin-top: 100px;
    color: #fff;
    text-shadow: 0 2px #000;
    .subtitle{
      font-size: 15px;
      text-shadow: none;
      display: block;
    }
  }
  a{
    text-decoration: none;
    color: #fff;
  }
}
.about-us{
  display: none;
}
