.nav-bar{
  padding: 0 20px;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6); 
  @include clearfix();
  @include media($mobile){
    padding: 0 10px;
  }

  .user-nav{
    margin-top: 20px;
    padding: 5px 10px;
    float: right;
    list-style: none;
    @include clearfix();
    li{
      float: left;
      i{
        margin-right: 5px;
      }
    }
  }
  .nav-dropdown{
    display: none;
    list-style: none; 
    position: absolute;
    background: rgba(0, 0, 0, 0.6); 
    padding: 10px;
    margin: 5px 0 0 50px;
    a{
      text-decoration: none;
      color: #fff;
    }
    li{
      float: none;
      margin: 5px 0;
    }

  }
  .logo-wrapper{
    float: left;
    padding: 10px;
    height: 70px;
    img {
      width: 50px;
    }
  }
  .sign-in{
    float: right;
    margin-top: 25px;
  }
}
