.nav-bar{
  padding: 0 20px;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6); 
  @include clearfix();
  @include media($mobile){
    padding: 0 10px;
  }

  ul{
    margin-top: 20px;
    padding: 5px 10px;
    float: right;
    list-style: none;
    @include clearfix();
    li{
      float: left;
    }
  }
  .logo-wrapper{
    float: left;
    padding: 10px;
    height: 70px;
    img {
      width: 50px;
    }
  }
}
