.homepage { 
  height: 620px;
  background: url('/assets/tilt_shift_bike.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
